{% extends 'base.html' %}

{% block contents %}
<div class='container'>

<h1>Sign Up!</h1>
<form method = "POST" actions="{% url 'signup' %}">
    {% csrf_token %} 
    {% comment %} 보안을 위한 난수 POST로 보낸다면 써야 할 것{% endcomment %}
    Username :
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password1" type="password" value="">
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password" value="">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Sign Up!">
</form>
</div>

{% endblock %}